.wrapper {
    width: 130px;
    height: 130px;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    background-color: #ccc;
    position: relative;
}

.wrapper.hide {
    cursor: pointer;
}

.wrapper.hide .flag {
    display: none;
}

.wrapper.hide::after {
    content: "?";
    position: absolute;
    font-size: 50px;
    top: 20%;
    left: 0;
    right: 0;
    color: #555;
}

.wrapper.wrong {
    background-color: #d22b2b;
}

.wrapper.correct {
    background-color: #318d31;
}

.flag {
    position: relative;
    display: block;
    margin-top: 22px;
}

.flag.sweden,
.flag.denmark {
    background-color: #006aa8;
    width: 100%;
    height: 62.5%;
    margin-top: 24px;
}

.flag.sweden > div,
.flag.denmark > div {
    background-color: #fecd00;
    position: absolute;
}

.flag.sweden .part1,
.flag.denmark .part1 {
    height: 20%;
    width: 100%;
    top: 40%;
}

.flag.sweden .part2,
.flag.denmark .part2 {
    height: 100%;
    width: 12.5%;
    left: 32%;
}

.flag.denmark {
    background-color: #c7042c;
}

.flag.denmark > div {
    background-color: #fff;
}

.flag.japan {
    background-color: #fff;
    width: 100%;
    height: 66.666666666666666666666666666668%;
}

.flag.japan .part1 {
    position: absolute;
    left: 33.333333333333333333333333333333%;
    height: 50%;
    width: 33.333333333333333333333333333333%;
    top: 25%;
    background-color: #bd0029;
    border-radius: 100%;
}

.flag.france {
    width: 100%;
    height: 66.666666666666666666665%;
    background-color: #fff;
}

.flag.france .part1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33.3333333333333333333333%;
    background-color: #001e96;
}

.flag.france .part2 {
    position: absolute;
    top: 0;
    left: 66.666666666666666666666%;
    height: 100%;
    width: 33.3333333333333333333333%;
    background-color: #ee2436;
}

.flag.greece {
    width: 100%;
    height: 66.666666666666666666666666666668%;
    background-color: #055eb0;
}

.flag.greece .part1 {
    position: absolute;
    top: 0;
    left: 14.814814814814814814814814814815%;
    height: 55.555555555555555555555555555556%;
    width: 7.407407407407407407407407407407%;
    background-color: #fff;
}

.flag.greece .part2 {
    position: absolute;
    top: 22.222222222222222222222222222222%;
    left: 0;
    height: 11.111111111111111111111111111111%;
    width: 37.037037037037037037037037037037%;
    background-color: #fff;
}

.flag.greece .part3 {
    position: absolute;
    top: 11.111111111111111111111111111111%;
    left: 37.037037037037037037037037037037%;
    height: 11.111111111111111111111111111111%;
    width: 62.962962962962962962962962962963%;
    background-color: #fff;
}

.flag.greece .part4 {
    position: absolute;
    top: 33.333333333333333333333333333333%;
    left: 37.037037037037037037037037037037%;
    height: 11.111111111111111111111111111111%;
    width: 62.962962962962962962962962962963%;
    background-color: #fff;
}

.flag.greece .part5 {
    position: absolute;
    top: 55.555555555555555555555555555556%;
    left: 0;
    height: 11.111111111111111111111111111111%;
    width: 100%;
    background-color: #fff;
}

.flag.greece .part6 {
    position: absolute;
    top: 77.777777777777777777777777777778%;
    left: 0;
    height: 11.111111111111111111111111111111%;
    width: 100%;
    background-color: #fff;
}

.flag.finland {
    background-color: #fff;
    width: 100%;
    height: 61.11111111111111111111111111111%;
    margin-top: 23.6px;
}

.flag.finland > div {
    background-color: #002f6c;
    position: absolute;
}

.flag.finland .part1 {
    height: 27.272727272727272727272727272727%;
    width: 100%;
    top: 36.363636363636363636363636363636%;
}

.flag.finland .part2 {
    height: 100%;
    width: 16.666666666666666666666666666667%;
    left: 27.777777777777777777777777777778%;
}

.flag.germany {
    background-color: #000;
    width: 100%;
    height: 60%;
    margin-top: 20%;
}

.flag.germany > div {
    position: absolute;
    width: 100%;
}

.flag.germany .part1 {
    background-color: #de0000;
    height: 33.33333333333333333333333333%;
    top: 33.33333333333333333333333333%;
}

.flag.germany .part2 {
    background-color: #ffcf00;
    height: 33.33333333333333333333333333%;
    top: 66.666666666666666666666666666%;
}


.flag.hungary {
    background-color: #ce253c;
    width: 100%;
    height: 50%;
    margin-top: 25%;
}

.flag.hungary > div {
    position: absolute;
    width: 100%;
}

.flag.hungary .part1 {
    background-color: #fff;
    height: 33.33333333333333333333333333%;
    top: 33.33333333333333333333333333%;
}

.flag.hungary .part2 {
    background-color: #41704c;
    height: 33.33333333333333333333333333%;
    top: 66.666666666666666666666666666%;
}


.flag.czechia {
    background-color: #fff;
    width: 100%;
    height: 66.666666666666666666666666666%;
}

.flag.czechia > div {
    position: absolute;
    width: 100%;
}

.flag.czechia .part2 {
    border-top: transparent solid 43px;
    border-bottom: transparent solid 44px;
    border-left: #08437f solid 65px;
}

.flag.czechia .part1 {
    background-color: #d80c13;
    height: 50%;
    top: 50%;
}
